Supporting custom fields in senML

Custom fields in senML helps in adding annotations for the time series. For example, it would be practical to add "logLevel" with senML pack of logs.
This is allowed in senML  and explained in [RFC 8428 section 4.4 Extensibility](https://tools.ietf.org/html/rfc8428#section-4.4)